body {
    margin:0;
}
.navbar, .darkmode .navbar{
    overflow: hidden;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
.navbar a, .darkmode .navbar a{
    float: left;
    text-align: center;
    padding: 12px 14px;
    font-size: 16px;
}
.navbar a:link, .darkmode .navbar a:link{
    color: white;
    background-color: black;
    transition: 0.2s;
}
.navbar a:hover, .darkmode .navbar a:hover{
    text-decoration: none;
    background-color: lightgray;
    color: black;
    transition: 0.2s;
}
.navbar a.active, .darkmode .navbar a:active{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.navbar a:link, .darkmode .navbar a:link, .navbar a:visited, .darkmode .navbar a:visited{
    color: white;
    text-decoration: none;
}
.main{
    padding: 16px;
    margin-top: 30px;
}
.darkmode{
    background-color: #202020;
    color:white;
}
.darkmode a:link, .darkmode a:hover, .darkmode a:visited, .darkmode a:active{
    color: white;
}
a{
    font-family: Helvetica;
    font-size: "100%";
}
h1,h2,h3,h4,h5,h6{
    font-family: Helvetica;
    font-size: "100%";
}
p{
    font-family: Helvetica;
    font-size: "100%";
}
a:link, a:visited{
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a.hover{
    color: black;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}