.navbar{
    overflow: hidden;
}
.navbar a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px 14px;
    font-size: 100%
}
.navbar a:hover {
    text-decoration: underline;
}
.navbar a.active{
    text-decoration: bold;
}
a{
    font-family: Helvetica;
    font-size: "100%";
}
h1,h2,h3,h4,h5,h6{
    font-family: Helvetica;
    font-size: "100%";
}
p{
    font-family: Helvetica;
    font-size: "100%";
}
a:link{
    color:blue;
    background-color: transparent;
    text-decoration: none;
}
a.hover{
    color:blue;
    background-color: transparent;
    text-decoration: underline;
}
a.visited{
    color:blueviolet;
    background-color: transparent;
    text-decoration: none;
}